* {
  box-sizing: border-box;
}

body {
  width: 1000px;
  margin: 0 auto;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  color: white;
}

.content {
  width: 50%;
  display: flex;
  background-color: rgb(255, 78, 90);
  flex-direction: column;
  row-gap: 20px;
  text-align: center;
  padding: 30px 20px;
}

h1 {
  font-size: 60px;
}

strong {
  font-size: 30px;
  line-height: 45px;
}

.content p {
  font-size: 25px;
  line-height: 35px;
}

footer {
  display: flex;
}

.details {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 50px 20px;
  background-color: rgb(255, 78, 90);
  width: 50%;
  height: 666px;
  text-align: center;
  color: white;
}

.details h2 {
  font-size: 45px;
  margin-bottom: 10px;
}

.details b {
  font-size: 22px;
  line-height: 30px;
  text-transform: uppercase;
}

.details p {
  margin: 13px 0;
  font-size: 22px;
  line-height: 30px;
}

.skills {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  column-gap: 60px;
  padding: 100px 65px;
  width: 50%;
  background-color: rgb(235, 234, 234);
}

.skills b {
  font-size: 77px;
  color: rgb(255, 78, 90);
}

.skills p {
  font-size: 20px;
  color: rgb(128, 128, 128);
}

@media (max-width: 426px) {
  body {
    width: 425px;
  }
  header {
    flex-direction: column;
    width: 100%;
  }
  header img {
    width: 425px;
  }
  .content,
  .details,
  .skills {
    width: 100%;
  }
  footer {
    flex-direction: column;
  }

  .content {
    padding: 30px 10px;
  }

  .skills {
    order: -1;
    column-gap: 60px;
    row-gap: 30px;
    padding: 100px 28px;
    align-items: center;
  }
  /* 
  h1 {
    font-size: 5.7em;
  }

  strong {
    font-size: 4em;
    line-height: 90px;
  }

  .content p {
    font-size: 3.7em;
    line-height: 90px;
  }

  .details h2 {
    font-size: 5em;
    margin-bottom: 20px;
  }

  .details b {
    font-size: 3.7em;
    line-height: 70px;
    text-transform: uppercase;
  }

  .details p {
    margin: 13px 0;
    font-size: 3em;
    line-height: 50px;
  }


  .skills b {
    font-size: 10em;
    color: rgb(255, 78, 90);
  }

  .skills p {
    font-size: 6em;
    color: rgb(128, 128, 128);
  } */
}

@media (max-width: 376px) {
  header img {
    width: 375px;
  }

  body {
    width: 375px;
  }

  .content {
    padding: 30px 10px;
  }

  .skills {
    padding: 100px 20px;
    justify-content: center;
  }

  .skills b {
    font-size: 60px;
  }
}

@media (max-width: 321px) {
  header img {
    width: 320px;
  }

  body {
    width: 320px;
  }

  .skills {
    justify-content: center;
  }

  .skills b {
    font-size: 60px;
  }
}
